<div class="post-page">
  <h1>Posts</h1>
  <div class="posts">
    <span>
      <%= posts.length===0 ? "No posts yet" : "" %>
    </span>
    <% posts.map(post=> { %>
      <a href="/posts/<%=post.id%>">
        <div class="card">
          <h2 class="post--title">
            <%= post.title %>
          </h2>
          <span class="post--author">
            by <%= post.user.username %>
          </span>
          <p class="post--content">
            <%= post.content %>
          </p>
        </div>
      </a>
      <% }); %>
  </div>
</div>