<script>
  const handleDelete = async () => {
    const postId = "<%= post.id %>";
    const response = await fetch(`/posts/${postId}`, {
      method: "DELETE",
    });
    const data = await response.json();
    if (data) {
      window.location.href = "/posts";
    } else {
      alert("Something went wrong");
    }
  };

  const handleEdit = async () => {
    const postId = "<%= post.id %>";
    window.location.href = `/posts/${postId}/edit`;
  }

</script>
<div class="post-page">
  <h1 class="post--title">
    <%= post.title %>
  </h1>
  <div class="post--subtitle">
    <span class="post--author">
      by <%= post.user.username %>
    </span>
    <% if (post.user.id===user.id) {%>
      <button class="post--button" onclick="handleEdit()">Edit</button>
      <button class="post--button bg-red" onclick="handleDelete()">Delete</button>
      <% } %>
  </div>
  <div class="hr"></div>
  <p class="post--content">
    <%= post.content %>
  </p>
</div>